* {
    text-align: center;
}

h1 {
    margin-top: 120px;
}

.input_container {
    display: flex;
    justify-content: center;
}

.input_container input[type="text"] {
    width: 240px;
    margin-right: 16px;
    text-align: left;
}

.input_container input[type="button"] {
    padding: 4px 12px 4px 12px;
}


ul {
    display: inline-block;
    padding: 0px;
}